*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
            
body, html{
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
	background: #1f1f1f;
}
 
::-webkit-scrollbar-thumb {
    background: #1b5580; 
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); 
}
            
.left_panel{
    width: 300px;
    height: 100%;
    float: left;
}
            
.nav{
    width: 300px;
    height: 100%;
    background-color: #1f1f1f;
    display: block;
    overflow: auto;
}

.content{
    float: left;
    width: calc(100% - 300px);
}
            
.options{
    width: calc(100% - 350px);
    height: calc(76px - 13px);
    background-color: #2e2e2e;
    padding-left: 350px;
    padding-top: 13px;
}

.nav>ul{
    clear: both;
}

.nav>ul>li>h3{
    color: #3299cc;
    display: block;
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    padding: 10px 20px;
}

.nav>ul>li>a{
    color: #dfdfdf;
    text-decoration: none;
    display: block;
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    padding: 10px 20px;
}

.nav>ul>li:hover{
    background-color: #3299CC;
}

.nav>h1{
    height: 75px;
    line-height: 75px;
    text-align: center;
    color: #3299CC;
}